.footer-section {
    background-color: #283618;
    color: #fefae0;
    padding: 50px 0 20px;
    margin-top: 50px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-info, .footer-links, .footer-contact {
    flex: 1;
    margin: 10px 20px;
    min-width: 250px;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    margin-bottom: 10px;
}
.footer-links ul li a {
    color: #dda15e;
    text-decoration: none;
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid #606c38;
    margin-top: 30px;
    padding-top: 20px;
}