.footer-section {
    background-color: #ffffff;
    color: #1a1a1a;
    padding: 50px 0 20px;
    margin-top: 50px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-info, .footer-links, .footer-contact {
    flex: 1;
    margin: 29px 70px;
    min-width: 250px;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    margin-bottom: 88px;
}
.footer-links ul li a {
    color: #dda15e;
    text-decoration: none;
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid #606c38;
    margin-top: 30px;
    padding-top: 20px;
}
:root {
    --primary-color: #606c36;
    --secondary-color: #283618;
    --accent-color: #dda15e;
    --light-color: #fefae0;
}
body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: var(--light-color);
}
.hero-section {
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}